%section.my-2#ranking-results
  .row
    .col-12
      - if ranking_data.present?
        %h5.text-center.my-4= t('goggles_cup.ranking_for_team', team: team.name)

        .row.mb-3
          .col-12.text-center
            = link_to(compute_goggles_cup_preview_path(format: :csv, team_id: team.id, secondary_team_id: secondary_team_id, swimmer_ids: selected_swimmer_ids, no_duplicated_events: no_duplicated_events),
                      class: 'btn btn-outline-secondary', 'data-turbo': false) do
              %i.fa.fa-file-text-o
              CSV
            = link_to(compute_goggles_cup_preview_path(format: :xlsx, team_id: team.id, secondary_team_id: secondary_team_id, swimmer_ids: selected_swimmer_ids, no_duplicated_events: no_duplicated_events),
                      class: 'btn btn-outline-secondary', 'data-turbo': false) do
              %i.fa.fa-file-excel-o
              XLSX

        - ranking_data.each_with_index do |data, index|
          .card.mb-3
            .card-header.bg-light-blue.d-flex.justify-content-between.align-items-center
              .d-flex.align-items-center
                %h5.mb-0.mr-3
                  %span.badge.badge-primary.mr-2 ##{index + 1}
                  = data[:swimmer_name]
                  %small.ml-2 (#{data[:swimmer_year_of_birth]})
                %strong.ml-3= t('goggles_cup.overall_score', score: data[:overall_score])
              %small.text-muted ID #{data[:swimmer_id]}

            .card-body
              %h6= t('goggles_cup.computation_details')
              .table-responsive
                %table.table.table-sm.table-striped
                  %thead
                    %tr
                      %th= t('goggles_cup.event_type')
                      %th= t('goggles_cup.pool_type')
                      %th= t('goggles_cup.meeting_name')
                      %th= t('goggles_cup.total_hundredths')
                      %th= t('goggles_cup.old_meeting_name')
                      %th= t('goggles_cup.old_total_hundredths')
                      %th= t('goggles_cup.row_score')
                  %tbody
                    - data[:top_rows].each do |top_row|
                      - row = top_row[:row]
                      %tr
                        %td= row.event_type_code
                        %td= row.pool_type_code
                        %td.small-text= "#{row.meeting_date}, #{row.meeting_name} (#{row.meeting_id})"
                        %td= row.total_hundredths
                        %td.small-text= row.old_meeting_date.present? ? "#{row.old_meeting_date}, #{row.old_meeting_name} (#{row.old_meeting_id})" : '-'
                        %td= row.old_total_hundredths
                        %td.text-end
                          %strong= top_row[:row_score]
      - else
        .alert.alert-info.text-center= t('goggles_cup.info.no_ranking_data')
