.modal.fade{ id: 'file-actions-modal', 'aria-hidden' => 'true', role: 'dialog', tabindex: '-1',
             'aria-labelledby' => 'generic file actions modal' }
  .modal-dialog.modal-lg{ role: 'document' }
    - dest_path = rename ? pull_file_rename_path : pull_file_edit_path

    = form_tag(dest_path, id: 'frm-file-actions', method: :put, remote: true) do
      = hidden_field_tag('file_path', file_path)
      .modal-content
        .modal-header
          %h5.modal-title{ id: 'file-actions-modal-title' }
            = I18n.t('datagrid.edit_modal.edit_title')
          %button.close{ 'aria-label' => I18n.t('datagrid.edit_modal.close_btn'), 'data-dismiss' => 'modal' }
            %span{ 'aria-hidden' => 'true' } &times;

        .modal-body{ id: 'file-actions-modal-body' }
          .form-group.row-fluid
            - if rename
              = text_field_tag('new_name', file_path, class: 'form-control')

            - else
              = hidden_field_tag('file_path', file_path)
              = text_area_tag('new_content', file_content, class: 'form-control', rows: 15)

        .modal-footer
          %button.btn.btn-sm.btn-outline-secondary{ 'aria-label' => I18n.t('datagrid.edit_modal.close_btn'),
                                                    'data-dismiss' => 'modal', type: 'button' }
            = I18n.t('datagrid.edit_modal.close_btn')

          %button.btn.btn-sm.btn-outline-danger{ id: 'btn-submit-save', type: 'submit', method: :put,
                  'aria-label' => I18n.t('datagrid.edit_modal.save_btn'),
                  data: { confirm: I18n.t('datagrid.edit_modal.save_changes_msg') } }
            = I18n.t('datagrid.edit_modal.save_btn')
