.collapse#filter-panel
  .card.card-body
    = form_with(model: grid, html: { class: 'datagrid-form' }, scope: grid.param_name,
                method: :get, **options) do |f|
      - grid.filters.each do |filter|
        .datagrid-filter.form-group.row{ data: { filter: filter.name, type: filter.type } }
          = f.datagrid_label(filter, class: 'col-sm-3 col-form-label')
          .col-sm-9
            = f.datagrid_filter(filter, class: 'form-control')
      .datagrid-actions.form-group.row.d-flex.justify-content-center
        = f.submit(I18n.t('datagrid.form.search'), class: 'datagrid-submit btn btn-sm btn-secondary')
        &nbsp;
        = link_to(I18n.t('datagrid.form.reset'), url_for(grid.to_param => {}),
                  class: 'datagrid-reset btn btn-sm btn-outline-secondary')
