.wrapper-body
  .spacer-left

  .main-content
    - provide(:title, t('goggles_cup.title'))
    .row-fluid.text-center
      %h4= t('goggles_cup.title')
      %p= t('goggles_cup.description')

    -# Phase 1: Team selection
    %section.my-2#select-team
      = form_with(url: goggles_cup_preview_path, method: :get, local: true,
                  data: { controller: 'form-utils', action: 'submit->form-utils#disableSubmit',
                          turbo: false }) do |f|
        .container-fluid
          .row.mb-3.my-4
            .col-md-4.my-2
              = render(ComboBox::AutocompleteTeamComponent.new(default_row: @team, required: true, jwt: current_user&.jwt))
            .col-md-1.mt-2.ml-3.d-flex.align-items-end
              = f.submit t('datagrid.form.search'), class: 'btn btn-primary'

    -# Phase 2: Swimmer selection (shown when team is selected but not POST)
    - if @team && @swimmers_for_team.present? && !request.post?
      = render partial: 'goggles_cup_swimmer_list', locals: { team: @team, swimmers: @swimmers_for_team }

    -# Phase 3: Ranking display (shown after POST)
    - if @ranking_data.present?
      = render partial: 'goggles_cup_ranking', locals: { team: @team, ranking_data: @ranking_data }

  .spacer-left
