.wrapper-body
  .spacer-left

  .main-content
    - provide(:title, t('.title'))
    .row-fluid.text-center
      %h4= t('.title')
      %p= t('.description')

    %section.my-2#select-team
      = form_with url: best_50m_results_path, method: :get, local: true, data: { controller: 'form-utils', action: 'submit->form-utils#disableSubmit', turbo: false } do |f|
        .container-fluid
          .row.mb-3.my-4
            .col-md-4.my-2
              = render(ComboBox::DbTeamComponent.new(default_row: @team, required: true))
            .col-md-7.ml-3
              = render(AutoCompleteComponent.new(show_top_labels: true,
                                                 base_name: 'season',
                                                 search_column: 'season_label',
                                                 label_column: 'description',
                                                 payload: @season_list))
            .col-md-1.mt-2.ml-3.d-flex.align-items-end
              .btn-group.w-100{role: "group"}
                = f.submit t('datagrid.form.search'), class: 'btn btn-primary'
                = link_to(best_50m_results_path(format: :csv, team_id: @team&.id,
                    season_id: @season&.id),
                    class: "btn btn-outline-secondary #{ @results_by_swimmer.blank? ? 'disabled' : '' }",
                    disabled: @results_by_swimmer.blank?, 'data-turbo': false) do
                  %i.fa.fa-file-text-o
                  CSV

                = link_to(best_50m_results_path(format: :xlsx, team_id: @team&.id,
                    season_id: @season&.id),
                    class: "btn btn-outline-secondary #{ @results_by_swimmer.blank? ? 'disabled' : '' }",
                    disabled: @results_by_swimmer.blank?, 'data-turbo': false) do
                  %i.fa.fa-file-excel-o
                  XLSX

    .row 
      .col-12
        - if @results_by_swimmer.present?
          %h5.text-center.my-4= t('.results_for_team_season', team: @team&.name, season: @season&.description)
          - @results_by_swimmer.each do |swimmer, results|
            %h6.text-center.bg-light-blue.mt-2
              = "#{swimmer.decorate.display_label} - #{swimmer.latest_category_type&.code}"
              .float-right
                %small= "ID #{swimmer.id}"
            .table-responsive
              %table.table.table-striped.table-hover.table-sm
                %thead
                  %tr
                    %th= GogglesDb::EventType.model_name.human
                    %th= GogglesDb::PoolType.model_name.human
                    %th= t('.best_timing')
                    %th= GogglesDb::Meeting.model_name.human
                    %th= t('.meeting_date')
                    %th= GogglesDb::Season.model_name.human(count: 1) # Season where result was achieved
                %tbody
                  - results.each do |result|
                    %tr
                      %td= result.event_type.code
                      %td= result.pool_type.code
                      %td.text-end
                        %strong= result.timing
                      %td.small= result.meeting.description
                      %td.small= result.meeting.header_date
                      %td.small= result.season.decorate.display_label
        - elsif params[:team_id].present? || params[:season_id].present?
          -# Show this only if a search was attempted but yielded no results
          .alert.alert-info= t('.no_results_found')

  .spacer-left
