= render(ComboBox::AutocompleteComponent.new(
     api_url: 'cities',
     label: t('swimming_pools.city'),
     base_name: 'city',
     free_text: @free_text,
     required: @required,
     wrapper_class: @wrapper_class,
     bound_query_param: 'country_code',
     jwt: @jwt,
     values: value_options(@default_row),
     selected_id: @default_row&.id,
     selected_label: @default_row&.name
   ))
.col
  .form-group
    .field
      = label_tag(:city_area, t('swimming_pools.area_code'))
      = text_field_tag('city_area', @default_row&.area, autofocus: true, required: true, class: 'form-control')
.col-3
  .form-group
    .field
      = label_tag(:city_country_code, t('swimming_pools.country_code'))
      = text_field_tag('city_country_code', @default_row&.country_code || 'IT', maxlength: 3, required: true,
                       autofocus: true, class: 'form-control')
