.wrapper-body
  .spacer-left

  .main-content
    .row-fluid.text-center
      %h5
        🖥 API Server: #{GogglesDb::AppParameter.config.settings(:framework_urls).api}
        %a.btn.btn-sm.btn-outline-secondary{ href: settings_path }
          %i.fa.fa-cog
    .col
      .row.mb-3
        .offset-lg-0.col-lg-4.offset-md-1.col-md-5.offset-sm-0.col-sm-6.py-2
          %a.btn.card.text-white.bg-info.h-100{ href: stats_path }
            .card-body.bg-info
              .rotate
                %i.fa.fa-line-chart.fa-4x
              %h6.text-uppercase= t('dashboard.stats.title')
              %h1.display-4= @api_uses_count

        .offset-lg-0.col-lg-4.offset-md-1.col-md-5.offset-sm-0.col-sm-6.py-2
          %a.btn.card.text-white.bg-danger.h-100{ href: api_import_queues_path }
            .card-body.bg-danger
              .rotate
                %i.fa.fa-list.fa-4x
              %h6.text-uppercase= t('dashboard.import_queues.title')
              %h1.display-4= @iqs_count

        .offset-lg-0.col-lg-4.offset-md-1.col-md-5.offset-sm-0.col-sm-6.py-2
          %a.btn.card.bg-success.text-white.h-100{ href: api_users_path }
            .card-body.bg-success
              .rotate
                %i.fa.fa-user.fa-4x
              %h6.text-uppercase= t('dashboard.users.title')
              %h1.display-4= @users_count

        .col-12.py-2.mb-4
          .card.text-dark.bg-light-blue.h-100
            .card-body
              .rotate
                %i.fa.fa-cogs.fa-4x
              %h6.text-uppercase= t('dashboard.manage_entities')
              .row.mb-3
                .offset-lg-0.col-lg-4.offset-md-1.col-md-5.offset-sm-0.col-sm-6.py-2
                  %a.btn.btn-lg.btn-outline-primary.my-1{ href: '#' }
                    Teams
                  %a.btn.btn-lg.btn-outline-primary.my-1{ href: '#' }
                    Team affiliations
                  %a.btn.btn-lg.btn-outline-primary.my-1{ href: api_team_managers_path }
                    Team managers
                  %a.btn.btn-lg.btn-outline-primary.disabled.my-1{ href: api_meeting_reservations_path }
                    Reservations
                .offset-lg-0.col-lg-4.offset-md-1.col-md-5.offset-sm-0.col-sm-6.py-2
                  %a.btn.btn-lg.btn-outline-primary.disabled.my-1{ href: '#' }
                    Seasons
                  %a.btn.btn-lg.btn-outline-primary.disabled.my-1{ href: '#' }
                    Categories
                  %a.btn.btn-lg.btn-outline-primary.disabled.my-1{ href: api_meetings_path }
                    Meetings
                  %a.btn.btn-lg.btn-outline-primary.disabled.my-1{ href: api_user_workshops_path }
                    Workshops
                  %a.btn.btn-lg.btn-outline-primary.disabled.my-1{ href: '#' }
                    Base & Standard Timings
                  %a.btn.btn-lg.btn-outline-primary.disabled.my-1{ href: '#' }
                    FIN Calendars
                .offset-lg-0.col-lg-4.offset-md-1.col-md-5.offset-sm-0.col-sm-6.py-2
                  %a.btn.btn-lg.btn-outline-primary.disabled.my-1{ href: '#' }
                    Swimming pools
                  %a.btn.btn-lg.btn-outline-primary.disabled.my-1{ href: '#' }
                    Swimmers
                  %a.btn.btn-lg.btn-outline-primary.disabled.my-1{ href: api_badges_path }
                    Badges
                  %a.btn.btn-lg.btn-outline-primary.disabled.my-1{ href: '#' }
                    Ind. results (MIR)
                  %a.btn.btn-lg.btn-outline-primary.disabled.my-1{ href: '#' }
                    User results (UR)
                  %a.btn.btn-lg.btn-outline-primary.disabled.my-1{ href: '#' }
                    Relay results (MRR)
                .offset-lg-0.col-lg-4.offset-md-1.col-md-5.offset-sm-0.col-sm-6.py-2
                  %a.btn.btn-lg.btn-outline-primary.disabled.my-1{ href: '#' }
                    Laps
                  %a.btn.btn-lg.btn-outline-primary.disabled.my-1{ href: '#' }
                    User Laps
                  %a.btn.btn-lg.btn-outline-primary.disabled.my-1{ href: '#' }
                    Relay Laps (& Swimmers)

    %section.fixed-bottom#footer
      = render(Footer::MainComponent.new)

  .spacer-right
