.row
  %h5.py-2= title
  %table.table.table-striped.table-sm#existing-results
    %thead.text-center
      %tr.table-info
        %th
          %code id
        %th
          %code event / category
        %th
          %code swimmer
        %th
          %code team_affiliation
        %th
          %code badge_id
        %th
          %code timing
        %th
          %code rank
        %th
          %code meeting_program_id
    %tbody
      - if existing_mirs
        - existing_mirs.sort { |a, b| a['meeting_program_id'] <=> b['meeting_program_id'] }.each do |mir|
          -# Highlight table row if it contains anyone of the swimmer badges:
          %tr.text-right{ class: swimmer_badge_ids.include?(mir['badge_id'].to_i) ? 'table-warning' : '' }
            %td= mir['id']
            %td.text-left
              #{mir['event_type']['code']}
              %small (#{mir['event_type']['id']})
              #{mir['category_type']['code']}
              %small (#{mir['category_type']['id']})
            %td.text-left
              #{mir['swimmer']['complete_name']}
              %small (#{mir['swimmer_id']})
            %td.text-left
              #{mir['team_affiliation']['name']}
              %small (#{mir['team_affiliation']['id']})
            %td= mir['badge_id']
            %td= mir['timing']
            %td= mir['rank']
            %td= mir['meeting_program_id']
