-# haml-lint:disable LineLength
= render(partial: 'modal_progress')
.wrapper-body
  .main-content
    %section.my-2#title-box
      = render(partial: 'data_fix_header', locals: { file_path: @file_path, retry_needed: @retry_needed })
    %section.my-2#review-sessions-tabs
      = render(partial: 'data_fix_tabs', locals: { active_tab: 'sessions', file_path: @file_path })

    %section.my-2#review-sessions
      .container-fluid
        .row-fluid
          #meeting-card
            .card
              .row-fluid.p-1#meeting-header{ class: @meeting.id.present? ? 'bg-light' : 'bg-light-yellow' }
                %h5.mb-0
                  %button.btn.btn-link{ id: 'edit-meeting', data: { target: '#meeting-panel', toggle: 'collapse',
                                        'aria-expanded' => 'false', 'aria-controls' => 'edit-meeting' } }
                    %b= @meeting.description
                    &nbsp;
                    - if @meeting.id.present?
                      ID: #{@meeting.id}
                      = @meeting.valid? ? '✅' : '🔵'
                    - else
                      🆕
              .row-fluid.p-1
                .bg-light-grey
                  %small
                    %i.text-muted
                      %pre
                        🔑 #{@data_hash['name']},&nbsp;
                        #{@data_hash['dateDay1']} #{@data_hash['dateMonth1']} #{@data_hash['dateYear1']}
                        &nbsp; ... &nbsp;
                        #{@data_hash['dateDay2']} #{@data_hash['dateMonth2']} #{@data_hash['dateYear2']}
              .collapse#meeting-panel{ 'aria-labelledby' => 'meeting-header', 'data-parent' => '#meeting-card' }
                .card-body.border-bottom.border-secondary
                  = render(partial: 'meeting_form',
                           locals: { api_url: @api_url, meeting_entity: @meeting_entity,
                                     file_path: @file_path })
        .row.mt-4
          - if @data_hash['manifestURL'].present? || @data_hash['resultsPdfURL'].present?
            - if @data_hash['manifestURL'].present?
              .col-auto
                = link_to(@data_hash['manifestURL']) do
                  .btn.btn-sm.btn-outline-primary
                    %i.fa.fa-download
                    = t('data_import.data_fix.link_to_manifest_download')
            - if @data_hash['resultsPdfURL'].present?
              .col-auto
                = link_to(@data_hash['resultsPdfURL']) do
                  .btn.btn-sm.btn-outline-primary
                    %i.fa.fa-download
                    = t('data_import.data_fix.link_to_results_pdf_download')
          .col-auto
            = link_to(review_sessions_path(reparse: 'sessions', file_path: @file_path),
                      method: :get, data: { toggle: 'tooltip',
                                            title: t('data_import.data_fix.btn_reparse_session_tooltip') }) do
              .btn.btn-sm.btn-warning
                %i.fa.fa-refresh
                = t('data_import.data_fix.btn_reparse_session_label')

          .col-auto
            = form_tag(data_fix_add_session_path, id: 'frm-add-session', method: :post) do
              = hidden_field_tag('file_path', @file_path)
              %button.btn.btn-sm.btn-outline-success#btn-add-session{ type: 'submit',
                  method: :delete, 'aria-label' => 'Add session',
                  data: { confirm: t('data_import.data_fix.confirm_add_session'),
                          disable_with: t('home.please_wait') } }
                %i.fa.fa-plus
                = t('data_import.data_fix.btn_add_session')

        .row-fluid.mt-4
          - @meeting_sessions.each_with_index do |meeting_session, index|
            - pool_type_opts = options_from_collection_for_select(GogglesDb::PoolType.all, 'id', 'long_label',
                                 @swimming_pools[index]&.pool_type_id || cookies[:pool_type_id])
            %div{ id: "meeting-session-card-#{index}",
                  class: meeting_session&.id.present? ? 'bg-light' : 'bg-light-yellow' }
              .card.mt-2
                .row-fluid.p-1{ id: "meeting-session-header-#{index}",
                                class: @meeting.id.present? ? 'bg-light' : 'bg-light-yellow' }
                  %h5.row.align-items-center.mb-0
                    .col-auto
                      %button.btn.btn-link{ id: "edit-meeting-session-#{index}",
                                            data: { target: "#meeting-session-panel-#{index}",
                                            toggle: 'collapse', 'aria-expanded' => 'false',
                                            'aria-controls' => 'edit-meeting-session' } }
                        = meeting_session&.description
                    .col-auto
                      - if meeting_session&.id.present?
                        ID: #{meeting_session&.id}
                        = meeting_session.valid? ? '✅' : '🔵'
                      - else
                        🆕
                    / Don't show the purge button for already-serialized sessions (with ID)
                    - if meeting_session&.id.blank?
                      .col-auto
                        = form_tag(data_fix_purge_path(meeting_session, model: 'meeting_session'), id: "frm-purge-session-#{index}", method: :delete) do
                          = hidden_field_tag('key', index) # actual entity key, used to retrieve the entity from data hash
                          = hidden_field_tag('file_path', @file_path)
                          %button.btn.btn-sm.btn-outline-danger{ id: "btn-purge-#{index}", type: 'submit', method: :delete,
                              'aria-label' => 'Purge',
                              data: { confirm: t('data_import.data_fix.confirm_purge', key: index),
                              disable_with: t('home.please_wait') } }
                            %i.fa.fa-trash-o
                .collapse{ id: "meeting-session-panel-#{index}", 'aria-labelledby' => "meeting-session-header-#{index}",
                           'data-parent' => "#meeting-session-card-#{index}" }
                  .card-body.border-bottom.border-secondary
                    = render(partial: 'meeting_session_form', locals: { meeting_session: meeting_session,
                             index: index, swimming_pool: @swimming_pools[index], pool_type_opts: pool_type_opts,
                             city: @cities[index], city_key: @city_keys[index],
                             api_url: @api_url, data_hash: @data_hash, file_path: @file_path })
