.modal.fade#grid-edit-modal{ 'aria-hidden' => 'true', role: 'dialog', tabindex: '-1',
                             'aria-labelledby' => 'grid-edit-modal-title' }
  .modal-dialog.modal-lg{ role: 'document' }
    / The action URL will be overridden on a row-by-row basis; the following is a placeholder:
    = form_tag(url_for(only_path: true, controller: @controller_name, action: :update, id: 0),
               id: 'frm-modal-edit', method: :patch) do
      .modal-content
        .modal-header
          %h5.modal-title#grid-edit-modal-title
            = I18n.t('datagrid.edit_modal.edit_title')
          %button.close{ 'aria-label' => I18n.t('datagrid.edit_modal.close_btn'), 'data-dismiss' => 'modal' }
            %span{ 'aria-hidden' => 'true' } &times;
        .modal-body#modal-body
          - @asset_row.attributes.each_key do |attr_name|
            - read_only = %w[id created_at updated_at lock_version].include?(attr_name)
            - field_class = read_only ? 'form-control-plaintext' : 'form-control'
            .form-group.row
              = content_tag(:small, class: 'col-sm-3') do
                = label_tag(attr_name, attr_name, class: 'col-form-label')

              - if !@asset_row.class.respond_to?(:column_for_attribute)
                .col-sm-9
                  = text_field_tag(attr_name, nil, disabled: read_only, class: field_class)

              - elsif @asset_row.class.column_for_attribute(attr_name).type == :datetime
                .col-sm-9
                  = datetime_field_tag(attr_name, nil, disabled: read_only, class: field_class)
              - elsif @asset_row.class.column_for_attribute(attr_name).type == :date
                .col-sm-9
                  = date_field_tag(attr_name, nil, disabled: read_only, class: field_class)
              - elsif @asset_row.class.column_for_attribute(attr_name).type == :boolean
                .col-sm-9
                  = check_box_tag(attr_name, nil, disabled: read_only, class: field_class)

              - elsif attr_name.ends_with?('_id')
                .col-sm-9= render(AutoCompleteComponent.new(base_api_url: base_api_url,
                                  detail_endpoint: detail_endpoint_name(attr_name),
                                  base_name: base_entity_name(attr_name),
                                  search_endpoint: search_endpoint_name(attr_name),
                                  search_column: search_column_name(attr_name),
                                  label_column: label_column_name(attr_name),
                                  label2_column: label2_column_name(attr_name), jwt: @jwt))
              - else
                .col-sm-9
                  = text_field_tag(attr_name, nil, disabled: read_only, class: field_class)

        .modal-footer
          %button.btn.btn-sm.btn-outline-secondary{ 'aria-label' => I18n.t('datagrid.edit_modal.close_btn'),
                                                    'data-dismiss' => 'modal', type: 'button' }
            = I18n.t('datagrid.edit_modal.close_btn')
          %button.btn.btn-sm.btn-outline-danger#btn-submit-save{ type: 'submit', method: :put,
                'aria-label' => I18n.t('datagrid.edit_modal.save_btn'),
                data: { confirm: I18n.t('datagrid.edit_modal.save_changes_msg') } }
            = I18n.t('datagrid.edit_modal.save_btn')
