%meta
.wrapper-body
  .spacer-left

  .main-content{ data: { controller: 'chart-api',
      'chart-api-calls-value' => @day_hash&.values&.map { |e| e.y_values.sum }.to_json,
      'chart-api-days-value' => @day_hash&.keys&.to_json,
      'chart-api-users-value' => @users_hash&.values&.map(&:y_values)&.to_json,
      'chart-api-bubbles-value' => @url_hash&.values&.map(&:to_json_bubble_chart_data).to_json } }
    = render(DashboardTitleComponent.new(title: t('dashboard.stats.title'), row_count: @domain_count))
    = render(Grid::EditModalComponent.new(controller_name: controller_name,
             asset_row: GogglesDb::APIDailyUse.new, jwt: current_user.jwt))

    %canvas#api-chart{ data: { 'chart-api-target' => 'chart' } }

    %section.my-4#data-grid
      / (Toolbar defaults: all buttons shown)
      = render(Grid::ToolbarComponent.new(asset_row: GogglesDb::APIDailyUse.new, create: false,
               controller_name: controller_name, request_params: @grid_filter_params))
      = datagrid_form_for(@grid, method: :get,
                          url: url_for(controller: controller_name, action: :index, params: @index_params))
      = render(Grid::FilterLabelsComponent.new(filter_params: @grid_filter_params))

      -# Clear:
      .m-1
        %a.btn.btn-sm.btn-danger#clear-expand{ 'aria-controls' => 'clear-stats-panel', 'aria-expanded' => 'false',
                                                href: '#clear-stats-panel', 'data-toggle' => 'collapse',
                                                role: 'button' }
          %i.fa.fa-times
      .collapse.m-1#clear-stats-panel
        .card
          .card-header= t('datagrid.clear_stats.clear_tooltip')
          .card-body
            = form_tag(stats_clear_path, method: :post) do
              .container
                .row
                  .col-auto
                    .form-group
                      .field
                        = label_tag('older_than_day', t('datagrid.clear_stats.older_than_day'))
                        = date_field_tag('older_than_day', nil,
                                         required: true, autofocus: true, class: 'form-control')
                .form-group
                  = submit_tag(t('datagrid.clear_stats.clear_button'), id: 'btn-clear', class: 'btn btn-danger',
                                 'aria-label': 'Clear', type: 'submit',
                                 data: { confirm: t('datagrid.clear_stats.confirm_msg') })

      = render(PageLinksForArrayComponent.new(data: @grid&.assets, total_count: @domain_count,
               page: @domain_page, per_page: @domain_per_page))
      = datagrid_table(@grid, html: { class: 'table table-hover table-sm' })
      = render(PageLinksForArrayComponent.new(data: @grid&.assets, total_count: @domain_count,
               page: @domain_page, per_page: @domain_per_page))

    %section.text-center.fixed-bottom#footer
      &nbsp;

  .spacer-right
